@import './utilities';

.mainHeader {
    background: $darkblue;
    color: white;
    height: 60px;

    .mainHeader-right {
        text-align: right;
        line-height: 60px;
    }
    .mainHeader-left {
        text-align: left;
        line-height: 60px;
    }
}

.searchBar {
    .searchInputContainer {
        .searchInput {
            height: 25px;
            margin: 0 12px;
            width: 100%;
        }
    }

    .searchWeb, .searchMyspace {
        line-height: 60px;
        margin-left: 10px;
    }



}