$break-mobile: 450px;
$break-tablet: 768px;

.friend-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .friend-list-header {
    display: block;
    width: 100%;
  }

  .friend-card {
    margin: 0 20px 20px 10px;
    flex-grow: 1;
    flex-basis: 250px;
    max-width: 50%;

    .friend-card-button {
      margin-right: 10px;
    }

    @media screen and (max-width: $break-tablet) {
      max-width: 95%;
    }
  }
}

.add-friend {
  margin: 30px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid black;

  .add-friend-input {
    margin-bottom: 10px;
  }
}